@{
    ViewBag.Title = "Главная";
}

<main id="index" class="container py-4">
    <section class="mb-4">
        <div class="banner">
            <div class="banner-info">Баннер: Косметология для вашей красоты</div>
            <img class="banner-img" src="~/Beauty_Salon/wwwroot/images/banner/noiceBackground_2.jpg">
        </div>

    </section>

    <section class="mb-4">
        <h2>Новости</h2>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">Новинка: Уход за кожей</h5>
                        <p class="card-text">Наши новые процедуры помогут вашей коже сиять.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">Скидки в январе</h5>
                        <p class="card-text">Получите скидку 20% на все услуги до конца месяца.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">Лучшие средства для ухода</h5>
                        <p class="card-text">Мы обновили нашу коллекцию средств для ухода за кожей.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h2>Товары/услуги</h2>
        <div class="row g-3 card-wrap">
            <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_2.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_3.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_4.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h2>Акции</h2>
        <div class="row g-3">
            <div class="col-md-6">
                <div class="card hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">Акция: Пилинг</h5>
                        <p class="card-text">Сделайте пилинг по суперцене 2990 руб. только в январе.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">Комплексный уход</h5>
                        <p class="card-text">Комплексные программы ухода за лицом со скидкой 15%.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
