@{
    ViewBag.Title = "О нас";
}


<main class="container py-4">
    <!-- <section class="mb-4">
        <div class="banner">Баннер: О нас</div>
    </section> -->

    <section class="mb-4">
        <h2>Информация о нас</h2>
        <p>Мы — команда профессионалов, предоставляющая услуги по косметологии высокого качества.</p>
    </section>

    <section class="mb-4">
        <h2>Наши сотрудники</h2>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                   <img src="images/employees/employee_1.jpg">
                        <h5 class="card-title">Сотрудник 1</h5>
                        <p class="card-text">Опытный косметолог с 10-летним стажем.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                     <img src="images/employees/employee_2.jpg">
                        <h5 class="card-title">Сотрудник 2</h5>
                        <p class="card-text">Специалист по уходу за кожей.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                    <img src="images/employees/employee_3.jpg">
                        <h5 class="card-title">Сотрудник 3</h5>
                        <p class="card-text">Мастер эстетической косметологии.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h2>Местоположение</h2>
        <p>Наш адрес: г. Москва, ул. Примерная, д. 1.</p>
    </section>
</main>
