html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner-info{
  position: absolute;
  z-index: 100;
}

img {
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: 50 50;
}

.banner-img{
 width: 100%;
 height: 100%;
 z-index: 0;
 object-fit: cover;
 object-position: 50 50;
}

.carousel-item img 
{ 
  margin: 0; /* Убирает отступы */ 
  padding: 0; /* Убирает поля */ 
}

.gradient-custom_1 {
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(102,126,234,0.5), rgba(118,75,162,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(102,126,234,0.5), rgba(118,75,162,0.5))
}

.gradient-custom_2 {
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(102,126,234,0.5), rgba(118,75,162,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(102,126,234,0.5), rgba(118,75,162,0.5))
}

.gradient-custom_3{
  /* fallback for old browsers */
  background: #1e9f9f;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(30,159,159,0.5), rgba(51,8,103,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(30,159,159,0.5), rgba(51,8,103,0.5))
}

.bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

.card-placeholder {
  background-color: #e9ecef;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c757d;
}

.hover-effect:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.banner {
height: 600px;
position: relative;
overflow: hidden;
background-size: cover;
}

video {
position: absolute;
z-index:-1;
}

.overlay {
z-index: 1;
}
.container {
z-index: 2; /* Содержимое должно быть выше overlay */
}

/* section {
height: 100vh;
} */

.bg-opacity-blur {
  -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   background: rgb(52,58,64, 0.90);
}

#navbar {
  position: fixed; /* Зафиксируем меню */
  top: 0; /* Прижмем к верху */
  width: 100%; /* Растянем на всю ширину */
  z-index: 1000;
  transition: top 0.3s; /* Эффект трансформации при выдвижении вниз (и вверх) */
}

body{
   padding: 0;
   margin: 0;
   padding-top: 70px;
}

.card-info-scroll {
  max-height: 200px; 
  overflow: scroll; 
}