html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner-info{
  position: absolute;
  z-index: 100;
}

img {
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: 50 50;
}

.banner-img{
 width: 100%;
 height: 100%;
 z-index: 0;
 object-fit: cover;
 object-position: 50 50;
}

.carousel-item img 
{ 
  margin: 0; /* Убирает отступы */ 
  padding: 0; /* Убирает поля */ 
}