@{
    ViewBag.Title = "Вход/Регистрация";
}

<main id="login" class="container py-4">
    <section class="mb-4">
        <h2>Регистрация</h2>
        <form>
            <div class="mb-3">
                <label for="registerName" class="form-label">Имя</label>
                <input type="text" class="form-control" id="registerName" placeholder="Введите ваше имя">
            </div>
            <div class="mb-3">
                <label for="registerEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="registerEmail" placeholder="Введите ваш email">
            </div>
            <div class="mb-3">
                <label for="registerPassword" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="registerPassword" placeholder="Введите ваш пароль">
            </div>
            <div class="mb-3">
                <label for="registerConfirmPassword" class="form-label">Подтвердите пароль</label>
                <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Подтвердите ваш пароль">
            </div>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </form>
        <a></a>
    </section>
</main>