@{
    ViewBag.Title = "Товары/Услуги";
}

<main class="container py-4">
    <!-- <section class="mb-4">
        <div class="banner">Баннер: Товары и услуги</div>
    </section> -->

    <section class="mb-4">
        <h2>Популярные товары и услуги</h2>
        <div class="row g-3">
            <div class="col-md-4">
               <div class="card">
                        <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_6.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                         <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_3.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                        <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_5.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h2>Основные товары и услуги</h2>
        <div class="row g-3">
            <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_4.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Гиалуроновый крем для лица</h5>
                        <div class="card-info-scroll">
                            <p class="card-text">Увлажняющий крем с гиалуроновой кислотой, который глубоко питает кожу, улучшает её упругость и уменьшает признаки усталости. Подходит для всех типов кожи.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">                   
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_2.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Сыворотка с витамином C</h5>
                        <div class="card-info-scroll">
                            <p class="card-text">Освежающая сыворотка, придающая коже сияние и выравнивающая тон. Содержит антиоксиданты, которые защищают от внешних факторов и предотвращают старение.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>
           <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_3.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Мицеллярная вода для снятия макияжа</h5>
                        <div class="card-info-scroll">
                            <p class="card-text">Лёгкая и эффективная формула для удаления макияжа и очищения кожи. Не оставляет липкости и сохраняет естественный уровень увлажнённости.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>
           <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_1.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Крем для рук с аргановым маслом</h5>
                        <div class="card-info-scroll">
                             <p class="card-text">Питательный крем, который мгновенно увлажняет и смягчает кожу рук. Создаёт барьер для защиты от холода и сухости.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_6.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Тоник с экстрактом зелёного чая</h5>
                        <div class="card-info-scroll">
                            <p class="card-text">Освежающий тоник, который сужает поры, устраняет излишки себума и придаёт коже матовый финиш. Идеален для жирной и комбинированной кожи.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_4.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Пенка для умывания с коллагеном</h5>
                        <div class="card-info-scroll">
                            <p class="card-text">Нежное очищающее средство с коллагеном, которое мягко удаляет загрязнения и макияж, делая кожу упругой и бархатистой.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card hover-effect" style="height: 550px;">
                    <img class="object-fit-cover img-fluid image-card-size" 
                        src="/images/products/product_2.jpg" 
                        style="width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Глиняная маска с углем</h5>
                        <div class="card-info-scroll">
                            <p class="card-text">Детокс-маска для глубокого очищения пор, устранения черных точек и контроля жирности кожи. Содержит натуральный активированный уголь.</p>
                        </div>
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary position-absolute bottom-0 start-0">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
