@{
    ViewBag.Title = "Товары/Услуги";
}

<main class="container py-4">
    <!-- <section class="mb-4">
        <div class="banner">Баннер: Товары и услуги</div>
    </section> -->

    <section class="mb-4">
        <h2>Популярные товары и услуги</h2>
        <div class="row g-3">
            <div class="col-md-4">
               <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h2>Основные товары и услуги</h2>
        <div class="row g-3">
            <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card hover-effect">
                    <div class="card">
                        <img src="/images/products/product_6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
